*
{
   
}

h2
{
    clear: both;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 700px;
    background: #159cb0 url(../imgs/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li
{
    float: left;
}

ul a
{
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: white;
    background: url(../imgs/divisor.png) repeat-y left top;
}

ul .primeiro a
{
    background: none;
}

ul a:hover
{
    color: #085662;
    background: #44cade;
}

#home #barra-lateral .a a, 
#sobre #barra-lateral .b a, 
#contato #barra-lateral .c a 
{
    color: #085662;
    background: #44cade;
}