body
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    width: 400px;
}

legend
{
    font-weight: bold;
}

label
{
    display: block;
    cursor: pointer;
}

input /* input[type="text"] Apenas para navegadores Novos */
{
    width: 20em;
}

textarea
{
    width: 20em;
    height: 10em;

}

input.radio, input.checkbox, input.submit
{
    width: auto;
}