body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container
{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 920px;
}

#marca
{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo
{
    width: 75%;
    float: right;
}

#conteudo-principal
{
    width: 64%;
    float: left;
}

#conteudo-secundario
{
    width: 34%;
    float: right;
    background: #d1d1d1;
    font-size: 0.7em;
}

#conteudo-secundario h1, #conteudo-secundario h2,
#conteudo-secundario h3, #conteudo-secundario p
{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao
{
    width: 22%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul
{
    list-style: none;
}

#navegacao li a
{   
    text-decoration: none;
}

#rodape
{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}